@if (itemCount() > 0) {
<div class="cart-container">
  <h1>Shopping Cart ({{ itemCount() }} items)</h1>

  @for (cartItem of cartItems(); track cartItem.product.id) {
    <app-cart-item
    [cartItem]="cartItem"
     (quantityChange)="onChangeQuantity($event.productId, $event.quantity)"
     (removeItem)="onRemove($event)"
     ></app-cart-item>
  }
  <div class="cart-summary">
    <div class="summary-breakdown">
      <div class="summary-row">
        <span>Subtotal:</span>
        <span>{{ subTotal() | currency }}</span>
      </div>
      <div class="summary-row">
        <span>Tax (10%):</span>
        <span>{{ tax() | currency }}</span>
      </div>
      <div class="summary-row">
        <span>Shipping:</span>
        <span>{{ shipping() === 0 ? 'FREE' : (shipping() | currency) }}</span>
      </div>
      <div class="summary-divider"></div>
      <div class="summary-row summary-total">
        <span>Grand Total:</span>
        <span>{{ grandTotal() | currency }}</span>
      </div>
    </div>
    <div class="summary-actions">
      <button (click)="clearCart()">Clear Cart</button>
      <button routerLink="/checkout">Checkout</button>
    </div>
  </div>
</div>
} @else {
<div class="empty-cart">
  <h2>Your cart is empty</h2>
  <a routerLink="/products">Continue Shopping</a>
</div>
}
