@if (itemCount() > 0) {
<div class="cart-container">
  <h1>Shopping Cart ({{ itemCount() }} items)</h1>

  @for (cartItem of cartItems(); track cartItem.product.id) {
    <app-cart-item
    [cartItem]="cartItem"
     (quantityChange)="onChangeQuantity($event.productId, $event.quantity)"
     (removeItem)="onRemove($event)"
     ></app-cart-item>
  }
  <div class="cart-summary">
    <p>Subtotal: {{ subTotal() | currency }}</p>
    <button (click)="clearCart()">Clear Cart</button>
    <button disabled>Checkout</button>
  </div>
</div>
} @else {
<div class="empty-cart">
  <h2>Your cart is empty</h2>
  <a routerLink="/products">Continue Shopping</a>
</div>
}
